AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}

# For local Docker setup (npm run db:up), use these values:
DATABASE_HOST="localhost"
DATABASE_NAME="project_desert"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"