AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev


AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}

DATABASE_URL=""

DATABASE_HOST=""
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""